<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Electricity Bill Estimator</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>Electricity Bill Estimator</h1>
        <p>Enter your monthly units to find out your bill!</p>

        <form action="/calculate" method="post">
            <label for="units">Monthly Units:</label>
            <input type="number" name="units" placeholder="e.g. 150" required>
            <button type="submit">Calculate Bill</button>
        </form>

        {% if bill %}
        <div class="result">
            <h2>Units used: {{ units }}</h2>
            <h2>Estimated Bill: ₹{{ bill }}</h2>
            <p>{{message}}</p>
        </div>
        {% endif %}
    </body>
</html>