html{
    scroll-behavior: smooth;      
}

body {
    background-color: #000;
    font-family:  'Times New Roman', serif;
}
.container.section1 {
    padding: 10px;
}
a.text-white.navigation-link.active {
    color: orange !important;
    text-decoration: none !important;
}
a:hover {
    color: cornflowerblue !important;
    text-decoration: none !important;
}