html{
    scroll-behavior: smooth;      
}

/*body {
    background-color: #000;
    font-family:  'Times New Roman', serif;
    background-image: url("https://i.pinimg.com/736x/56/bb/15/56bb15e123be9a86ad358654732c79cc.jpg");
    height: 100%;
    width: 100%;
}*/
