<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
        <link rel="stylesheet" href="C:\Users\maghi\After Class Project CodingGal\Project1\Python\intro_to_flask\user_login\static\style.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div align="center , bg-light" >
        <div align="center " class="border">
        <div class="header">
            <h1 class="word">Welcome</h1>
        </div>
        <h1 class="bottom"> Hi {{name}}!!
        {{msg}}!! <br><br>    
        You are Welcome <br><br>
        Happy to have you here ... </h1>
        <a href="/logout" class="btn btn-info">Logout</a>
        </div>
        </div>
    </body>
</html>